# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Environments
.venv/
env/
venv/
ENV/

# Distribution / packaging
dist/
build/
*.egg-info/

# Windows / Mac system files
.DS_Store
Thumbs.db